@using Pierre.Models;
@model Pierre.Models.GoodiesList;

@{
    Layout = "_Layout";
}

    <div class="splash1">
        <h4>@Html.ActionLink("Flavors List", "Index", "Flavors", new {@class = "nav-link text-dark"})</h4>
        @if (@Model.FlavorList.Count == 0)
        {
            <p>List is empty.</p>
        }  
        @foreach (Flavor flavor in Model.FlavorList)
        {       
            <li>@($"{flavor.FlavorName}")</li>
        }
    </div>

    <div class="splash2">
        <h4>@Html.ActionLink("Treats List", "Index", "Treats", new {@class = "nav-link text-dark"})</h4>
        @if (@Model.TreatList.Count == 0)
        {
            <p>List is empty.</p>
        }
        @foreach (Treat treat in Model.TreatList)
        {     
            <li>@($"{treat.TreatName}")</li>
        }
    </div>
