@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat;

<div class="container card">
<h4>Add Flavor to @Html.DisplayFor(model => model.TreatName)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.TreatId)

        @Html.Label("Select Flavor")
        @Html.DropDownList("FlavorId")

        <input class="btn btn-warning" type="submit" value="Save" />
    }
    <input class="btn btn-warning" type="button" value="Treats" onclick='location.href="@Url.Action("Index", "Treats")";' />
</div>